    .noticias {
    display: grid;
    justify-content: center;
    }
    
    .containerNoticias {
        display:flex;
        justify-content: center;
        box-shadow: 0px 0px 15px -5px;
        transition: all 0.3s;
        animation: ease-in;
        padding: 10px;
        margin: 40px 0 40px 0;

        
    }
    
    .containerNoticias:hover {
        margin: 20px 0 20px 0;
        transform: scale(1.1);
        box-shadow: 0px 0px 15px 0px;
    
    }

    .imageNoticias img{
        

        padding: 10px 10px 10px 10px;
        overflow: hidden;
        height: 300px;
        width: 100%;
        object-fit: cover;          
    }
    
    .textNoticias {
      display: flex;
      align-items: center;
      padding: 10px 10px 10px 10px;
    }

    .contentNoticias {
      margin: 1rem;
      margin-top: 0.5rem;
    }

    
    .titleNoticias h2{
        margin:0;
        padding:0;
        font-size: 30px;
    }


    .titleNoticias {
        margin-bottom: 10px;
       
      }

    .bodyNoticias p{
        margin:0;
        padding:0;
    }
    
    .bodyNoticias {
      margin-bottom: 10px;
    }
    
      .btnNoticias {
        display:flex; 
        justify-content:center;
               
      }
    
      .btnNoticias Button {
        color: #BE3535;
        line-height: 20px;
        padding-top: 10px;
        font-size: 20px;
    }
      
      .btnNoticias Button:hover {
        background-color: #black rgba(0, 0, 0, 0.87);
        transform: scale(1.1)

        
      }

@media only screen and (min-width: 576px) and (max-width: 768px){

  .containerNoticias{
    width: 500px
  }
      
  .contentNoticias{
    margin: 0;
  }
              
  .imageNoticias img {          
    width: 260px;
    height: 160px;  
    padding: 0;              
  }      
      
  .titleNoticias h2 {
    font-size: 25px;
    text-align: center;
  }
        
  .bodyNoticias p {
    font-size: 16px;
  }
      
  .btnNoticias Button {       
    font-size: 16px;
  }                
                
        }       
             
        
        
@media only screen and (min-width: 360px) and (max-width: 575px) {
  .containerNoticias {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;

  }

  .contentNoticias{
    margin: 0;
  }
        
  .imageNoticias img {          
    width: 200px;
    height: 140px;  
    padding: 0;              
  }      

  .titleNoticias h2 {
    font-size: 20px;
    text-align: center;
  }
  
  .bodyNoticias p {
    font-size: 15px;
  }

  .btnNoticias Button {
 
    font-size: 16px;
  }

        
        
        
        
}
    
