.container_fcontact {
	width: 40%;    
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	margin: 60px auto;
	background-color: rgba(222, 238, 229, 0.25);

  
}

.formContact {
	margin: 40px 60px 40px 60px;
}

.inputContact input {
    width: 100%;
    padding: 3px 10px;
    border-radius: 5px;
    border: 0.1px solid rgb(142, 141, 141);
    height: 50px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    background-color: rgba(222, 238, 229, 0.25);
	margin-bottom: 20px;
   
}

.inputContact textarea{
	width: 100%;
	padding: 3px 10px;
	border-radius:5px;
	border:0.1px solid rgb(142, 141, 141);	
	height: 100px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(222, 238, 229, 0.25);
	resize: none;   
	margin-bottom: 5px; 
	
    

}

.inputContact label {

    width: 100px;
    font-weight: 600;
    
    margin: 0 0 5px 10px;
    font-size: 21px;
}



.buttonContact button{
	width: 100%;
	display: inline-block;
	padding: 8px;
	letter-spacing: 2px;
	border-radius: 5px;
	display: inline-block;
	color: #fff;
	font-weight: bold;
	background-color: #0093CE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-top: 30px;
    
}	


   
[type="checkbox"]{
    appearance: none;
    border:0.1px solid rgb(142, 141, 141);
    width: 15px;
    height: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:0.1px solid rgb(142, 141, 141);
	

 
}
 

@media only screen and (min-width: 769px) and (max-width: 1500px) {
	.container_fcontact {
		width: 75%;
		padding: 20px;
		margin: 60px auto;
		
	}
       
  }

  @media only screen and (min-width: 576px) and (max-width: 768px){

	.container_fcontact{
		width: 76%;
	}
	.formContact {
		margin: 30px 0px 30px 0px;

	}

	.inputContact label {
		margin: 0 0 5px 10px;
		font-size: 18px;
	}

	.inputContact input {
		height: 45px;
		margin: 7px 0 18px 0;
	}

	.inputContact textarea {
		margin: 7px 0 5px 0;
		height: 90px;
	}

	.pv{
		font-size: 15px;
	}


  }

       
  

  @media only screen and (min-width: 360px) and (max-width: 575px) {
	
	.container_fcontact{
		width: 76%;
	}
	.formContact {
		margin: 30px 0px 30px 0px;

	}

	.inputContact label {
		margin: 0 0 5px 10px;
		font-size: 15px;
	}

	.inputContact input {
		height: 35px;
		margin: 7px 0 18px 0;
	}

	.inputContact textarea {
		margin: 7px 0 5px 0;
		height: 80px;
	}

	.pv{
		font-size: 15px;
	}
  }
  
