
.carousel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #CFEAF6;
    padding: 20px 0;
    margin: 90px 0;
}

.carr {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    align-items: center;
}

.rec-carousel{
    height: 100vh;
}

.texto {
    width: 50%;
}

.carr-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carr-img {
    width: 350px;
    display: flex;
    align-items: center;
}

.titulo-noticia-carr{
    font-size: 15px;
}